@font-face {
    font-family: propaganda;
    src: URL('/font/propaganda.ttf') format('ttf');
  }

.box-background {
    background-color:rgb(54, 54, 54);
    color: white;
} 

.box-padding {
    padding: 16px;
}
.button {
    background-color: red;
    font-family: 'propaganda','Obitron', sans-serif;
   
}

.body-style {
    background-color: lightgray;
}

.title {
    font-family: 'propaganda','Obitron', sans-serif;
    font-size:60px;
}

.container-fluid{
    padding: 0px;
}

.center {
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

br {
    display: block;
    margin: 25px 0;
 }

 select {
     width: 300px;
 }